.pageHeight {
   height: 450px;
}

#landing {
   background-color: grey;
}

#about {

}

#portfolio {
   background-color: grey;
}

#contact {

}

.fixedMenu {
    position: fixed;
    top: 0;
    margin-top: 0;
    z-index: 500;
}

.disableMenu {
    visibility: hidden;
}

.nav {
   ul { display: inline-block;
      li { display: inline-block; }
    }
}
