body {
    margin: 0;
}

svg.logo-container {
   outline: 1px solid red;
   font-size: 2em;
   overflow: visible;
   height: 150px;
   width: 50%;
   margin: auto;
   display: block;
}

.pageHeight {
   height: 450px;
}

#landing {
   background-color: grey;
}

#about {
   position: relative;
   border: black solid 1px;
}

#portfolio {
   position: absolute;
   bottom: 10%;
   z-index: -1;
}

.portfolio {
   background-color: grey;
}

#contact {

}
.container {
    width: 800px;
    margin: auto;
}

.fixedMenu {
    position: fixed;
    top: 0;
    // left: 0px;
    margin-top: 0;
    z-index: 500;
    width: 800px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
}

.original {
    // width: 100%;
    height: 50px;
}

.disableMenu {
    visibility: hidden;
}

.nav {
    color: white;
    background-color: #c95a5d;

   ul { display: inline-block;
      li { display: inline-block; }
    }
}
